# Working with Lists

## Introduction
So far, we have worked with individual pieces of data like the string 'hello'. In this lesson, we'll see how we can group pieces of data together using lists.

## Objectives

You will be able to:

* Use indexing to access elements in a list
* Apply list methods to make changes to a list
* Change elements of a list

## What Are Lists?

A list is our first form of a collection. A collection is just a way of grouping multiple pieces of data together. For example, let's consider the top cities for travel according to the magazine Travel and Leisure. Here is how we usually see a list of travel locations in a document or on a website.

#### Travel Locations
1. Solta
2. Greenville
3. Buenos Aires
4. Los Cabos
5. Walla Walla Valley
6. Marakesh
7. Albuquerque
8. Archipelago Sea
9. Iguazu Falls
10. Salina Island
11. Toronto
12. Pyeongchang

Here is what that list looks like as a Python `list`:

In [2]:
#create alist with the variable name list_examples
#alist consists of strings, floats,integer
#a list has square brackets[]
List_examples =["Fantastic","my name is?",3 ,4 ,5 ,6 ]
List_examples

['Fantastic', 'my name is?', 3, 4, 5, 6]

In [10]:
#use indexing to access elements in a list
#When using indexing,remember the first item is zero
#example:
List_examples=[0]
#ANS: fantastic

In [31]:
Car_types = ['BMW', 'COROLLA', 'FERRARI', 'AUDI','WISH', 'LAMBOGINI', 'JEEP', 'SUBARU' ]
Car_types         # index the list

['BMW', 'COROLLA', 'FERRARI', 'AUDI', 'WISH', 'LAMBOGINI', 'JEEP', 'SUBARU']

### accessing items to a list

In [32]:
Car_types[1]

'COROLLA'

In [33]:
Car_types[2]

'FERRARI'

In [34]:
Car_types[3]

'AUDI'

In [35]:
#checking the length of a list is {LEN}
len(Car_types)

8

### applying list methods to make a list changes

In [36]:
Car_types.pop()

'SUBARU'

In [37]:
Car_types.append('CX5')
Car_types.append('HARRIER')
#another way:
Car_types.insert(0,1)

In [38]:
Car_types

[1,
 'BMW',
 'COROLLA',
 'FERRARI',
 'AUDI',
 'WISH',
 'LAMBOGINI',
 'JEEP',
 'CX5',
 'HARRIER']

In [39]:
Car_types.pop(8)

'CX5'

In [40]:
Car_types

[1,
 'BMW',
 'COROLLA',
 'FERRARI',
 'AUDI',
 'WISH',
 'LAMBOGINI',
 'JEEP',
 'HARRIER']

In [41]:
Car_types[0] = 4
Car_types

[4,
 'BMW',
 'COROLLA',
 'FERRARI',
 'AUDI',
 'WISH',
 'LAMBOGINI',
 'JEEP',
 'HARRIER']

In [42]:
unique_car_types =set(Car_types) #changing the  list to set
unique_car_types

{4,
 'AUDI',
 'BMW',
 'COROLLA',
 'FERRARI',
 'HARRIER',
 'JEEP',
 'LAMBOGINI',
 'WISH'}

## Example point two:

### Indexing the list with items.

In [43]:
Types_of_zodiac_signs =['Taurus','Libra', 'virgo', 'Leo', 'Pisces', 'Gemini', 'Saqittarius', 'Cancer']
Types_of_zodiac_signs

['Taurus',
 'Libra',
 'virgo',
 'Leo',
 'Pisces',
 'Gemini',
 'Saqittarius',
 'Cancer']

In [44]:
#applying list methods for changing the list
Types_of_zodiac_signs.insert(-1,'Aquaries')

In [45]:
Types_of_zodiac_signs

['Taurus',
 'Libra',
 'virgo',
 'Leo',
 'Pisces',
 'Gemini',
 'Saqittarius',
 'Aquaries',
 'Cancer']

In [47]:
Types_of_zodiac_signs[2] = 'Aries'

In [48]:
Types_of_zodiac_signs

['Taurus',
 'Libra',
 'Aries',
 'Leo',
 'Pisces',
 'Gemini',
 'Saqittarius',
 'Aquaries',
 'Cancer']

In [4]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return bool(key in self).
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, index, /)
 |      Return self[index].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...)
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [1]:
['Solta', 'Greenville', 'Buenos Aires', 'Los Cabos', 'Walla Walla Valley', 'Marakesh', 'Albuquerque', 'Archipelago Sea', 'Iguazu Falls', 'Salina Island', 'Toronto', 'Pyeongchang']

['Solta',
 'Greenville',
 'Buenos Aires',
 'Los Cabos',
 'Walla Walla Valley',
 'Marakesh',
 'Albuquerque',
 'Archipelago Sea',
 'Iguazu Falls',
 'Salina Island',
 'Toronto',
 'Pyeongchang']

We indicate that we are initializing a `list` with an opening bracket, `[`, and we end the list with a closing bracket `]`. We separate each list item, also called an element, with a comma.

In [2]:
['Croatia', 'USA', 'Argentina', 'Mexico', 'USA', 'Morocco', 'New Mexico', 'Finland', 'Argentina', 'Italy', 'Canada', 'South Korea']

['Croatia',
 'USA',
 'Argentina',
 'Mexico',
 'USA',
 'Morocco',
 'New Mexico',
 'Finland',
 'Argentina',
 'Italy',
 'Canada',
 'South Korea']

We can, of course, assign lists to variables and later retrieve the elements of lists using the variable names.

In [3]:
top_travel_cities = ['Solta', 'Greenville', 'Buenos Aires', 'Los Cabos', 'Walla Walla Valley', 'Marakesh', 'Albuquerque', 'Archipelago Sea', 'Iguazu Falls', 'Salina Island', 'Toronto', 'Pyeongchang']

In [4]:
top_travel_cities

['Solta',
 'Greenville',
 'Buenos Aires',
 'Los Cabos',
 'Walla Walla Valley',
 'Marakesh',
 'Albuquerque',
 'Archipelago Sea',
 'Iguazu Falls',
 'Salina Island',
 'Toronto',
 'Pyeongchang']

In [5]:
countries_of_top_cities = ['Croatia', 'USA', 'Argentina', 'Mexico', 'USA', 'Morocco', 'New Mexico', 'Finland', 'Argentina', 'Italy', 'Canada', 'South Korea']

## Accessing Elements of Lists

Now our `top_travel_cities` list contains multiple elements, and just like we are used to list elements having a rank or number associated with them...

1. Solta
2. Greenville
3. Buenos Aires

...a list in Python also assigns a number to each element.

In [6]:
top_travel_cities

['Solta',
 'Greenville',
 'Buenos Aires',
 'Los Cabos',
 'Walla Walla Valley',
 'Marakesh',
 'Albuquerque',
 'Archipelago Sea',
 'Iguazu Falls',
 'Salina Island',
 'Toronto',
 'Pyeongchang']

In [7]:
top_travel_cities[0]

'Solta'

In the above line we are referencing a list and then using the brackets to access a specific element of our list, the first element.  We access elements in a list with the `index`, and there is a separate index for each element in the list.  It begins at the number **zero** (not the number 1 as you might expect). Like many modern programming languages , Python uses a "zero-indexed" numbering scheme for collections like lists. The value then increases by 1 for every element thereafter.

So to access the second element we write `top_travel_cities[1]`, and the third element is `top_travel_cities[2]`.

In [8]:
top_travel_cities[2]

'Buenos Aires'

How would we access the last element?  Well, we could count all of the elements in the list, and `Pyeongchang` would just be one less than that. Or we can ask Python to start from the end and move back one:

In [9]:
top_travel_cities[-1]

'Pyeongchang'

And we can move back as many as we want.

In [10]:
top_travel_cities[-2]

'Toronto'

Each element in our list is a string, so, we can always set an element of our string equal to a variable.

In [11]:
top_canadian_city = top_travel_cities[-2]
top_canadian_city

'Toronto'

In [12]:
type(top_canadian_city)

str

Now we have a variable of `top_canadian_city`, equal to the string 'Toronto', and a variable of `top_travel_cities` equal to the list of cities.

In [13]:
top_travel_cities

['Solta',
 'Greenville',
 'Buenos Aires',
 'Los Cabos',
 'Walla Walla Valley',
 'Marakesh',
 'Albuquerque',
 'Archipelago Sea',
 'Iguazu Falls',
 'Salina Island',
 'Toronto',
 'Pyeongchang']

In [14]:
type(top_travel_cities)

list

## Accessing Multiple Elements

Now imagine that we don't want to access just one element of a list, but multiple elements at once.  Python allows us to do that as well:

In [15]:
top_travel_cities[0:2]

['Solta', 'Greenville']

As we can see from the above example, we can access elements of a list by placing two numbers separated by a colon inside of our brackets. The first number indicates the index of the first element we wish to retrieve.  

The second number could represent the number of elements we want to retrieve, or maybe it represents the stopping index of the elements that we are retrieving. Looking at our `top_travel_cities` it could be either.

In [16]:
top_travel_cities

['Solta',
 'Greenville',
 'Buenos Aires',
 'Los Cabos',
 'Walla Walla Valley',
 'Marakesh',
 'Albuquerque',
 'Archipelago Sea',
 'Iguazu Falls',
 'Salina Island',
 'Toronto',
 'Pyeongchang']

Let's try a different experiment to answer our question.

In [17]:
top_travel_cities[4:5]

['Walla Walla Valley']

Ok, so that second number is not representing the number of elements we want retrieved. Instead it must be the index at which we stop our selection of elements.

In [18]:
top_travel_cities[4:6]

['Walla Walla Valley', 'Marakesh']

This operation is called `slice`.  So, we can say we are `slicing` the elements with indices 4 and 5 in the line above.  Note that even though we are `slicing` elements, our list remains intact.

In [19]:
top_travel_cities

['Solta',
 'Greenville',
 'Buenos Aires',
 'Los Cabos',
 'Walla Walla Valley',
 'Marakesh',
 'Albuquerque',
 'Archipelago Sea',
 'Iguazu Falls',
 'Salina Island',
 'Toronto',
 'Pyeongchang']

In programming terms, we would say that slicing elements is non-destructive, because it does not change the underlying data structure.  We can do it as many times as we like, and our `top_travel_cities` array remains unchanged.  If we wish to store that slice of elements, we can store it in another variable.

In [20]:
top_two = top_travel_cities[0:2]
top_two

['Solta', 'Greenville']

Now we have another variable called `top_two` that points to an array which contains an array of elements equal to the first two elements of `top_travel_cities`.

## Changing elements with destructive methods

Now that we can read and select certain elements from lists, let's work on changing these lists. To add a new element to a list, we can use the `append` method.

In [21]:
top_travel_cities.append('San Antonio')

Now let's take another look at `top_travel_cities`.

In [22]:
top_travel_cities

['Solta',
 'Greenville',
 'Buenos Aires',
 'Los Cabos',
 'Walla Walla Valley',
 'Marakesh',
 'Albuquerque',
 'Archipelago Sea',
 'Iguazu Falls',
 'Salina Island',
 'Toronto',
 'Pyeongchang',
 'San Antonio']

You will see that 'San Antonio' has been added to the list.  Note that unlike slice, `append` is destructive.  That is, it changes our underlying data structure.  Every time we execute the `append` method, another element is added to our list.   Now what if we accidentally add 'San Antonio' a second time to our list.

In [23]:
top_travel_cities.append('San Antonio')
top_travel_cities

['Solta',
 'Greenville',
 'Buenos Aires',
 'Los Cabos',
 'Walla Walla Valley',
 'Marakesh',
 'Albuquerque',
 'Archipelago Sea',
 'Iguazu Falls',
 'Salina Island',
 'Toronto',
 'Pyeongchang',
 'San Antonio',
 'San Antonio']

If you press shift+enter on the above line of code, we will have `'San Antonio'` as the last two elements of the list.  Luckily, we have the `pop` method to remove one of them.  The `pop` method is available to call on any list and removes the last element from the list. As you can see below, calling `pop` removed our last element.

In [24]:
top_travel_cities.pop()

'San Antonio'

Now if we want to change an element from the middle of the list, we can access and then reassign that element. For example, let's change 'Walla Walla Valley' to the number 5.

In [25]:
top_travel_cities[4]

'Walla Walla Valley'

In [26]:
top_travel_cities[4] = 5

In [27]:
top_travel_cities

['Solta',
 'Greenville',
 'Buenos Aires',
 'Los Cabos',
 5,
 'Marakesh',
 'Albuquerque',
 'Archipelago Sea',
 'Iguazu Falls',
 'Salina Island',
 'Toronto',
 'Pyeongchang',
 'San Antonio']

Our list is changed, but now it's not as sensible, so let's change it back.

In [28]:
top_travel_cities[4] = 'Walla Walla Valley'

With that, our list is back to the way we like it.

In [29]:
top_travel_cities

['Solta',
 'Greenville',
 'Buenos Aires',
 'Los Cabos',
 'Walla Walla Valley',
 'Marakesh',
 'Albuquerque',
 'Archipelago Sea',
 'Iguazu Falls',
 'Salina Island',
 'Toronto',
 'Pyeongchang',
 'San Antonio']

## Finding Unique elements and length of lists

If we are not sure whether there are repeated elements, we can use Python to get a unique list.

In [30]:
top_travel_cities.append('Solta')
top_travel_cities

['Solta',
 'Greenville',
 'Buenos Aires',
 'Los Cabos',
 'Walla Walla Valley',
 'Marakesh',
 'Albuquerque',
 'Archipelago Sea',
 'Iguazu Falls',
 'Salina Island',
 'Toronto',
 'Pyeongchang',
 'San Antonio',
 'Solta']

For example, now that we have added Solta to the end of our list, Solta appears twice.

Well to see a unique list of the elements, we can call the `set` function. A set is a different type collection in Python. 
A set is just like a list, except elements do not have order and each element appears just once.

In [31]:
unique_travel_cities = set(top_travel_cities)
unique_travel_cities

{'Albuquerque',
 'Archipelago Sea',
 'Buenos Aires',
 'Greenville',
 'Iguazu Falls',
 'Los Cabos',
 'Marakesh',
 'Pyeongchang',
 'Salina Island',
 'San Antonio',
 'Solta',
 'Toronto',
 'Walla Walla Valley'}

The `set` function is non-destructive on our list.

In [32]:
top_travel_cities

['Solta',
 'Greenville',
 'Buenos Aires',
 'Los Cabos',
 'Walla Walla Valley',
 'Marakesh',
 'Albuquerque',
 'Archipelago Sea',
 'Iguazu Falls',
 'Salina Island',
 'Toronto',
 'Pyeongchang',
 'San Antonio',
 'Solta']

 So here, when we convert our list into a set, our set just consists of the unique elements.  But unfortunately this structure is a set, not a list.

In [33]:
type(unique_travel_cities)

set

So let's convert this set, which has a unique list of our travel cities, into a list.

In [34]:
unique_travel_cities = list(unique_travel_cities)

In [35]:
type(unique_travel_cities)

list

So the array of `unique_travel_cities` is now a unique list.

In [36]:
unique_travel_cities

['Archipelago Sea',
 'Salina Island',
 'Toronto',
 'Marakesh',
 'Greenville',
 'San Antonio',
 'Los Cabos',
 'Pyeongchang',
 'Walla Walla Valley',
 'Albuquerque',
 'Solta',
 'Iguazu Falls',
 'Buenos Aires']

And you can see quickly that it differs from the list of top travel cities by checking the length.

In [37]:
len(unique_travel_cities)

13

In [38]:
len(top_travel_cities)

14

> **Note:** *For most purposes, Python developers prefer to work with `lists` as opposed to sets, as `lists` are generally easier to manipulate, as you will see in future lessons.*

## Summary

In this section we saw how to associate data together in a collection, called a list.  A list is similar to a list in the real world - it implies the data has some connection, and that it has an order to it.  We initialize a list with the brackets, `[]`, and separate each element by a comma.  To access elements from a list, we use the bracket accessor followed by the index of the element we want to retrieve, and our indices begin at zero and increase by 1 from there. To add a new element to the end of the list we use the `append` method, and to remove an element from the end of a list we use the `pop` method. We can change elements anywhere between by first accessing the elements and then reassigning them.